@* Views/Shared/_Layout.cshtml *@
<!doctype html>
<html class="no-js" lang="vi">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="y tế, phòng khám, bệnh viện, đặt lịch" />
    <meta name="description" content="Mediplus - Danh bạ Bác sĩ & Y tế" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>@ViewData["Title"] - Mediplus</title>

    <link rel="icon" href="~/img/favicon.png" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/icofont.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl-carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/datepicker.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animate.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>
            <div class="indicator">
                <svg width="16" height="12" viewBox="0 0 16 12">
                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                </svg>
            </div>
        </div>
    </div>
    <!-- Header -->
    <header class="header shadow-sm">

        <!-- TOPBAR -->
        <div class="topbar py-2 border-bottom bg-light">
            <div class="container">
                <div class="row align-items-center">

                    <!-- LEFT: Quick Catalog -->
                    <div class="col-lg-6 col-md-6 col-12">
                        <ul class="nav small gap-3 mb-0">

                            <li class="nav-item">
                               
                            </li>

                            <li class="nav-item">
                               
                            </li>

                            <li class="nav-item">
                               
                            </li>

                            <li class="nav-item">
                               
                            </li>

                        </ul>
                    </div>

                    <!-- RIGHT -->
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="d-flex justify-content-lg-end align-items-center flex-wrap gap-3">

                            <!-- Profile -->
                            <a class="btn btn-outline-secondary btn-sm px-3"
                               asp-controller="Profile" asp-action="Edit">
                                <i class="fas fa-user-circle me-1"></i> Hồ sơ
                            </a>

                          
                            <!-- Auth Partial -->
                            <div class="auth-nav">
                                <partial name="_LoginPartial" />
                            </div>

                            <!-- Dashboard -->
                            @if (User.IsInRole("Admin") || User.IsInRole("Doctor") || User.IsInRole("Receptionist"))
                            {
                                <a class="nav-link px-0 text-dark"
                                   asp-area="Dashboard" asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-tools me-1"></i> Dashboard
                                </a>
                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- MAIN NAVIGATION -->
        <!-- MAIN NAVIGATION -->
        <div class="main-menu-wrapper py-2 bg-white">
            <div class="container">
                <nav class="d-flex align-items-center justify-content-between">

                    <!-- CENTER MENU -->
                    <ul class="nav menu gap-4 list-unstyled mb-0 fw-semibold">

                        <li><a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li><a class="nav-link text-dark" asp-controller="Catalog" asp-action="Departments">Khoa</a></li>
                        <li><a class="nav-link text-dark" asp-controller="Catalog" asp-action="Services">Dịch vụ</a></li>
                        <li><a class="nav-link text-dark" asp-controller="Catalog" asp-action="Doctors">Bác sĩ</a></li>

                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li><a class="nav-link text-dark" asp-controller="Appointments" asp-action="Create">Đặt lịch</a></li>
                            <li><a class="nav-link text-dark" asp-controller="Appointments" asp-action="My">Lịch hẹn</a></li>
                            <li><a class="nav-link text-dark" asp-controller="MedicalRecords" asp-action="Index">Hồ sơ khám</a></li>
                            <li><a class="nav-link text-dark" asp-controller="UserMedicalTests" asp-action="Index">Xét nghiệm</a></li>
                            <li><a class="nav-link text-dark" asp-controller="UserPrescriptions" asp-action="Index">Đơn thuốc</a></li>
                        }
                    </ul>

                </nav>
            </div>
        </div>

    </header>


    <main role="main">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer id="footer" class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>Về chúng tôi</h2>
                            <p>Chúng tôi cung cấp dịch vụ y tế chất lượng, tận tâm và chuyên nghiệp cho cộng đồng.</p>
                            <ul class="social">
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-vimeo"></i></a></li>
                                <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Quick Links -->
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h2>Liên kết nhanh</h2>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-caret-right"></i>Trang chủ</a></li>
                                        <li><a asp-controller="Home" asp-action="About"><i class="fa fa-caret-right"></i>Giới thiệu</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Services"><i class="fa fa-caret-right"></i>Dịch vụ</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Departments"><i class="fa fa-caret-right"></i>Khoa phòng</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Doctors"><i class="fa fa-caret-right"></i>Bác sĩ</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <li><a asp-controller="Booking" asp-action="Create"><i class="fa fa-caret-right"></i>Đặt lịch ngay</a></li>
                                        <li><a asp-controller="Booking" asp-action="MyAppointments"><i class="fa fa-caret-right"></i>Lịch hẹn của tôi</a></li>
                                        <li><a asp-controller="Contact" asp-action="Index"><i class="fa fa-caret-right"></i>Liên hệ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Open Hours -->
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>Giờ làm việc</h2>
                            <ul class="time-sidual">
                                <li class="day">Thứ 2 - Thứ 6 <span>8:00 - 20:00</span></li>
                                <li class="day">Thứ 7 <span>9:00 - 18:30</span></li>
                                <li class="day">Chủ nhật <span>9:00 - 15:00</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Newsletter -->
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>Bản tin</h2>
                            <p>Đăng ký để nhận thông tin mới nhất qua email.</p>
                            <form action="#" method="post" class="newsletter-inner">
                                <input name="email" placeholder="Địa chỉ email" class="common-input" onfocus="this.placeholder=''" onblur="this.placeholder='Địa chỉ email'" required type="email" />
                                <button class="button" type="submit"><i class="icofont icofont-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div><!--/row-->
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright-content">
                            <p>© @DateTime.Now.Year  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS -->
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-migrate-3.0.0.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/js/easing.js" asp-append-version="true"></script>
    <script src="~/js/colors.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/js/jquery.nav.js" asp-append-version="true"></script>
    <script src="~/js/slicknav.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.scrollUp.min.js" asp-append-version="true"></script>
    <script src="~/js/niceselect.js" asp-append-version="true"></script>
    <script src="~/js/tilt.jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/owl-carousel.js" asp-append-version="true"></script>
    <script src="~/js/jquery.counterup.min.js" asp-append-version="true"></script>
    <script src="~/js/steller.js" asp-append-version="true"></script>
    <script src="~/js/wow.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
